{% extends "blog/layout.html" %}

{% block content %}

 <div class="container">
 <div class="jumbotron">
 <h1>Django Template <sup>by AskDjango</sup></h1>
 <p>여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>
 <p>
 <a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango">
 AskDjango 페이스북 그룹 &raquo;
 </a>
 </p>
 </div>
 </div>

<a href="{% url "blog:post_new" %}">
        New Post
</a>

<p>

</p>

<form action="" method="get">
       <input type="text" name="q" value= "{{q}}" />
       <input type="submit" value= "검색" />


</form>

<ul>
{% for post in post_list %}
    <li>
        {{post.id}}
      <a href="{% url "blog:post_detail" post.id %}">{{post.title}}</a>
      {% for tag in post.tag_set.all %}
          <span class="label label-info">{{ tag.name }}</span>
      {% endfor %}


       

        <small>at {{post.updated_at}} </small>
        <small>at2 {{post.created_at}} </small>
        <small>
        </small>
    </li>

{% endfor %}

<li>http://localhost:800/blog/ 주소로 접속해보세요.
    템플릿 경로를 blog/templates/post_list.html 경로가 아닌 blog/templates/bog/post_list.html로 접속해보세요
    </li>
</ul>

{% endblock %}


